{{- if and (ne .Params.toc false) (findRE "<li" .TableOfContents) }}
<details class="toc-container" {{ if .Params.toc_open }}open{{ end }}>
  <summary class="toc-summary">
    <div class="toc-summary-left">
      <svg class="toc-chevron" viewBox="0 0 24 24" aria-hidden="true">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
      <svg class="toc-icon" viewBox="0 0 24 24" aria-hidden="true">
        <line x1="8" y1="6" x2="21" y2="6"></line>
        <line x1="8" y1="12" x2="21" y2="12"></line>
        <line x1="8" y1="18" x2="21" y2="18"></line>
        <line x1="3" y1="6" x2="3.01" y2="6"></line>
        <line x1="3" y1="12" x2="3.01" y2="12"></line>
        <line x1="3" y1="18" x2="3.01" y2="18"></line>
      </svg>
      <span class="toc-title">Table of Contents</span>
    </div>
    <span class="toc-toggle-hint">
      <span class="hint-expand">Show</span>
      <span class="hint-collapse">Hide</span>
    </span>
  </summary>
  <div class="toc-content">
    {{ .TableOfContents }}
  </div>
</details>
{{- end }}
